body {
  margin: 0;
  color: var(--accent-color);
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  direction: rtl;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--fg-dark);
    background-color: var(--bg-color);
  }
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--fg-color);
}

.glass-element {
  background-color: color-mix(in srgb, var(--bg-color) 10%, transparent);
  box-shadow: 0 var(--sm) var(--lg) 0 rgba(0, 0, 0, 0.33);
}

@media (prefers-color-scheme: dark) {
  .glass-element {
    background-color: color-mix(in srgb, black 20%, transparent);
    box-shadow: 0 var(--sm) var(--lg) 0 rgba(0, 0, 0, 0.1);
  }
}

main {
  flex: 1;
}

button {
  width: fit-content;
  margin: var(--sm) auto;
  padding: var(--sm) var(--lg);
  border-radius: var(--sm);
  color: var(--fg-color);
  background-color: var(--accent-color);
  border: thin solid var(--accent-color);
  font-family: var(--primary-font);
  font-size: var(--md);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  filter: brightness(125%);
}

textarea,
input {
  padding: var(--sm);
  font-size: var(--md);
  font-family: var(--primary-font);
  border: 0;
  border-radius: var(--sm);
  color: var(--fg-color);
  background-color: var(--form-bg);
  transition: all 0.3s ease-in-out;
  outline: none;
  resize: none;
}

input::placeholder {
  color: #aaa;
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.2);
}


footer {
  color: var(--fg-color);
  margin: 0;
  padding: 0 2rem;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  footer {
    color: var(--fg-color);
  }
}

special {
  color: var(--accent-color);
}

table {
  border-radius: 12px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  margin-top: 20px;
  text-align: right;
}

th,
td {
  padding: 10px;
  text-align: right;
}

th {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  text-align: center;
}

tr {
  background-color: var(--bg-color);
}

tbody tr:nth-child(even) {
  filter: brightness(125%);
}

tbody tr:hover {
  filter: brightness(150%);
  transition: background-color 0.2s ease-in-out;
}

.calculation-result {
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  th,
  td {
    padding: 6px;
  }
}
