@import url(./theme.css);
@import url(./fonts.css);

input {
  width: 100%;
  padding: 16px; 
  font-size: 16px;
  font-family: var(--primary-font);
  border-radius: var(--lg);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  outline: none; 
  box-sizing: border-box;
}

input::placeholder {
  color: #aaa; 
  transition: all 0.3s ease-in-out;
}

input:hover {
  border-color: #bdc1c6;
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.2); /* Subtle glow */
}

input:focus::placeholder,
input:not(:placeholder-shown)::placeholder {
  transform: translateX(136rem);
  opacity: 0.1;
}